/* forgot password */
.password-bgimg {
    background-image: url(../images/login-background.png);
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.password-bgimg .card {
    background: white;
    opacity: 1;
    height: 200px;
    position: relative !important;
    width: 500px;
    bottom: 42px;
    box-shadow: 0px 1px 3px black;
    margin: 250px 0px 0px;
    color: black;
    font-size: 16px;
}

/* side nav */
@media only screen and (max-width: 575px) {
    .searchbar:hover>.search_input {
        width: 160px !important;
    }

    .velozion {
        margin-top: 78px;
    }

    .password-bgimg .card {
        left: 0px;
        margin-top: 190px;
    }

    .employee-dashboard .dropdown-item.text-white {
        margin: 0px !important;
    }
    .main-content {
        margin: 6px 25px 0px 25px !important;
    }
    .fixed-top {
        left: 58.7% !important;
        height:60px;
    }
    .watchblock, .mobileprobtn{
        display: none;
    }
}

@media only screen and (min-width: 767px) {
    .fixed-top {
        /* left: 16.7% !important; */
        left: 39.7% !important;
        height: 60px;
    }

    .form-inline {
        margin-right: 40px;
    }

    .content {
        height: 838px !important;
    }

    .sidebar {
        height: 789px;
        overflow: auto;
        margin-left: -14px;
        /* width: 245px; */
    }

    .scrollbar-primary {
        overflow-x: hidden;
        /* overflow-y: scroll; */
        padding-top: 10px;
    }

    .scrollbar-primary::-webkit-scrollbar {
        width: 10px;
        background-color: white;
    }

    .scrollbar-primary::-webkit-scrollbar-thumb {
        border-radius: 1px;
        background-color: silver;
    }

    .start {
        margin-top: 60px;
    }
}

.sidebar {
    background-color: #18151e;
}

#sidebar .card {
    background-color: transparent;
}

#sidebar .card-header {
    padding: 10px 6px 17px 22px !important;
    border: none !important;
}

#sidebar .card-body {
    margin-left: 30px !important;
    padding: 6px 19px;
}

#sidebar .fa-caret-down.rotate-icon {
    float: right;
    margin-top: 6px;
}

#sidebar .card-header a h5 {
    font-size: 18px !important;
}

.sidebar .card-header a {
    display: block;
    color: white;
    text-decoration: none !important;
    padding-left: 4px;
    padding-right: 5px;
}

.card-body a {
    /* margin: 5px 0px; */
    font-size: 14px;
    padding: 10px 24px;
}

#dashboard {
    padding: 0px 0px !important;
    margin: 0px 5px 0 21px !important;
}

#sidebar #accordionEx {
    width: 100% !important;
}

#sidebar .container {
    padding: 0px !important;
}

.dropdown-item.active.show:hover {
    background-color: #007bff !important;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #16181b !important;
    background-color: white !important;
}

/* sidenav active */
.collapse.active {
    display: block !important;
}

/* employee sidenav */
.employee-dashboard #dashboard {
    margin: 0px 0px !important;
}

.employee-dashboard .dropdown-item.text-white {
    padding: 12px 12px;
    margin: 1px 18px;
    width: 89%;
}

/* emp dashboard */
.event-light:nth-child(1n) {
    background: rgb(234, 157, 157) !important;
    padding: 6px 34px !important;
    border-radius: 10px;
}

.emp .event-light:nth-child(2n) {
    background: rgb(109, 143, 229) !important;
    padding: 11px 34px !important;
    border-radius: 10px;
}

.event-light:nth-child(1n) .far {
    color: red;
}

.emp .event-light:nth-child(2n) .far {
    color: blue !important;
}

.text-dark .fa-calendar-alt {
    /* font-size: 30px;
    padding: 8px 6px; */
    font-size: 32px;
    padding: 4px 8px;
}

.dashboard-border i {
    font-size: 1.875rem;
    padding: 20px;
    border-radius: .25rem;
}

.dashboard-border {
    box-shadow: 0 0 1px rgba(0, 0, 0, .125), 0 1px 3px rgba(0, 0, 0, .2);
    padding: 1rem;
    border-radius: .25rem;
    background-color: white;
}

.timer.count-title.count-number {
    font-weight: bold;
}

/* admin dashboard */
.ad .event-light:nth-of-type(2n) {
    background: rgb(109, 143, 229) !important;
    padding: 11px 34px !important;
    border-radius: 10px;
}

.ad .event-light:nth-of-type(3n) {
    background: rgb(90, 180, 90) !important;
    padding: 11px 34px !important;
    border-radius: 10px;
}

.ad .event-light:nth-of-type(4n) {
	background: rgb(140, 129, 129) !important;
	padding: 11px 34px !important;
	border-radius: 10px;
}

.ad .event-light:nth-child(2n) .far {
    color: blue !important;
}

.ad .event-light:nth-child(3n) .far {
    color: green !important;
}

.ad .event-light:nth-child(4n) .far {
    color: black !important;
}

/* Dashboard */
.dashboard .bg-green {
	background-color: #018d01;
}

.dashboard .bg-red {
    background-color: rgb(209, 47, 64);
}

.dashboard .bg-blue {
    background-color: rgb(23, 123, 223);
}

.dashboard .bg-black {
    background-color: rgb(41, 43, 46);
}

.icon i {
    font-size: 37px;
    color: white;
}

.btn-sqrt {
    border-radius: 0px !important;
}

.content {
    background-color: #e9ecef;
    /* overflow-x: hidden; */
}

.top-content {
    box-shadow: 0 8px 6px -6px grey;
    padding: 10px;
    margin: 0px 20px 15px 20px;
}

.main-content {
    background-color: white !important;
    margin: 6px 50px 20px 50px;
}

/* .pagination {
    padding-bottom: 10px;
} */

.page-item.active .page-link {
    z-index: 1;
    color: #fff !important;
    background-color: #4b545f !important;
    border-color: #3e4b5b !important;
}

.page-link {
    color: #18151e !important;
}

.del {
    padding: 0px !important;
    background-color: transparent !important;
    border-color: #ffffff !important;
}

/* homepage login */
.homepage .col-md-4 {
    background-color: white;
}

.login-form {
    padding: 45px;
    margin-top: 60px;
}

.login input
{
    border: 0;
    border-bottom: 1px solid black;
    outline: 0;
    padding: 7px 0px 5px 5px;
}

.login-form .form-control:focus {
    outline: -webkit-focus-ring-color auto 0px !important;
    box-shadow: none;
}

.logo {
    text-align: center;
    margin-bottom: 20px !important;
}

.log-btn {
    background-color: #18151e !important;
    color: white !important;
}

.login-form .hr {
    margin-top: 3rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid rgb(41, 123, 199);
}

/* login */
.form-check-label {
    color: #575e64;
    margin-bottom: 0px;
    vertical-align: sub;
}

input[type=checkbox],
input[type=radio] {
    margin: 4px 0 0;
    margin-top: 1px\9;
    line-height: normal;
    vertical-align: middle;
}

/* homepage */
.homepage .login-form a:hover {
    font-weight: bold;
    font-size: 26px;
    color: #1D2939;
    transition: 0.4s ease-in-out;
}

.homepage .login-form a {
    transition: 0.5s ease-in-out;
}

.sign {
    padding:50px;
    text-align:center;
    font-size: 20px;
    margin-top: 100px;
    color: slategray
}

/* search bar */
.searchbar:hover>.search_input {
    padding: 1px 1px;
    width: 233px;
    caret-color: red;
    transition: width 0.7s linear;
}

.searchbar:hover>.search_icon {
    background-color: white !important;
    color: black;
}

.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    text-decoration: none;
    padding: 2px 10px;
}

.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 45px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 4px 2px;
}

.search_input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.7s linear;
    padding: 0px;
    margin: 0px;
}

.bg-light1 {
    background-color: rgb(62, 75, 91) !important;
}

.dropdown-toggle::after {
    color: white;
    vertical-align: middle !important;
}

/* logout btn */
.logoutbtn .dropdown-item.log {
    color: white;
    text-align: center;
    font-weight: bold;
}

.logoutbtn {
    border-radius: 50px !important;
    height: 38px;
    padding: 0px !important;
    background-color: #18151E !important;
    margin-top: 16px !important;
}

.log:focus,
.log:hover {
    color: #16181b;
    background-color: white !important;
    border-radius: 50px !important;
    height: 36px !important;
}

.left-border {
    border-left: 1px solid white;
}

.velozion {
    text-align: center;
    background-color: white;
    height: 110px;
}


/* extra ---------------------------------------*/
.dropdown-item.active, .dropdown-item:active {
    background-color: #297bc7 !important;
}

.card1{
    box-shadow: 0 0 1px rgba(0, 0, 0, .125), 0 1px 5px rgba(0, 0, 0, .2) !important;
}

.employee-data .head {
    background-color: lightgray;
    font-size: 20px;
}

.alert-success {
    color: white !important;
    background-color: #297BC7 !important;
    border: 2px solid #1B2BBC !important;
    position: absolute !important;
    top: 5px;
    z-index: 1111;
    right: 11px;
    padding: 10px 15px 0px !important;
    transition: ease-in-out.2s;
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
}

@-webkit-keyframes cssAnimation {
    to {
        visibility: hidden;
    }
}

.status {
    float: left;
    margin-right: 10px;
}


/* /emp dashboard */
.test{
    background-color:white; padding:12px;
    box-shadow: 0 0 1px rgba(0, 0, 0, .125), 0 1px 5px rgba(0, 0, 0, .2) !important;
}
.profile tr th{
    color: grey !important;
}
 
.topsearch{
    background-color: #3e4b5b;
    padding: 30.2px !important;
    position:fixed !important;
    top:0px;
}
.pagesearch{
    background-color: #3e4b5b;
    position:fixed !important;
    top: 0%;
    height:60px;
}
.att table tr td select,table tr td input{
    /* width: 83px !important; */
    width: 83px !important;
    margin-right: 15px !important;
}

.sel{
    background-color: #e2e6ea  !important;
    color: black !important;
    padding: .25em !important;
    outline: none !important;
    border: none !important;
    border: 0 !important;
    width: 8% !important;
    float: left;
    margin-right: 22px;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #e4f0fd !important;
    opacity: 1 !important;
}

.badge {
    border-radius: 1.25rem !important;
    width: 70px;
}

.remove-filter-link{
    padding: 1px 7px;
    background: #fff;
    color: #18151e;
    font-size: 10px !important;
    margin: 8px 0px;
    display: inline-block;
    border-radius: 12px;
    text-decoration: none !important;
    font-weight: 700;
}

.att-sel{
    background-color: #547092 !important;
    color: white !important;
    padding: 7px 68px 7px 10px !important;
    outline: none !important;
    border: 0 !important;
    font-weight: 600;
}
.att-btn{
    margin: 0px 0px 5px 10px;
    width: 80px;
    font-weight: 500 !important;
    height: 37px;
    border-radius: 3px !important;
}

.dispaly-att{
    padding: 10px 3px 10px 3px;
    margin: 0px 20px 0px 20px;
    color: #5386c3;
}

.dispaly-label{
    float: right;
    background-color: beige !important;
    border-radius: 50px;
    padding: 0px 20px 3px 20px !important;
    font-size: 25px;
    font-weight: 500;
}

/* pagination */
.pagination-datatables .pagination li{
    padding: 10px 15px 10px 15px;
    background-color: #ffffff;
    /* margin-left: 2px; */
    border: solid #5a5a5a 0.1px;
}
.pagination-datatables ul.pagination li.active{
    color: white !important;
    background-color: #4b545f !important;
    font-weight: 600;
    /* border: solid #5a5a5a 0.1px; */
} 

tr.datatable-filter-line td{
    background-color: beige;
    padding: 5px;
}

.datatable-input-text{
    width: 145px !important;
}
.fa-sort{
    color: #8b8c8e;
    font-size: 12px;
    vertical-align: middle !important;
}

.paychart table tr td{
    text-align: center;
}

.salary-pay{
    background-color: #ffffff !important;
    color: #495057 !important;
    padding: 7px 160px 7px 10px !important;
    outline: none !important;
    border: 1px solid #ced4da;
}
/* .datatable-select{
    position: absolute !important;
    top: 12% !important;
    width: 100px !important;
    margin-left: -145px;
} */


/* small calendar */
 .Wall{
    position:relative;
  }
  .calendar{
    position:absolute;
    margin:auto;
    left:0; right:0; top:13px;
    width:400px; height:375px;
    background:white;
    box-shadow: 1px 2px 10px black;
  }
  .frame{
    position:relative;
    width:100%;
    height:100px;
    background:#e74c3c;
  }
  .screw{
    position:absolute;
    width:40px; height:40px;
    background-color:#bdc3c7;
    border-radius:50px;
    top:30%;
    box-shadow: inset 0px 0px 10px #2c3e50;
    border: 1px solid #7f8c8d;
  }
  .left{
    left: 15px;
  }
  .right{
    right:15px;
  }
  .shine{
    position:absolute;
    background: rgba(255,255,255,0.2);
    width: 30px; height:30px;
    border-radius: 100%;
    left:5px; top:5px;
  }
  .line{
    position:absolute;
    width:100%; height:3px;
    background-color:#7f8c8d;
    top:18px;
    transform: rotate(20deg);
  }
  .rerotate{
    transform: rotate(60deg);
  }
  .year{
    position: absolute;
    width:100%; height:100%;
  }
  .year h1{ 
    text-align:center; 
    color:white;
    font-size:70px;
    margin:0; padding:0; 
    line-height: 100px; 
  } 
  .content11{ 
    position:absolute;
    width: 100%; height:78%;
  } 
  .content11 h1{ 
    text-align:center; 
    font-size: 232px;
    margin:0; padding:0;
    line-height:120px;
  }
  .content11 h2{
    text-align:center;
    font-size: 50px;
    margin:0; padding:0;  
    line-height:100px; 
  }
   

/* chart */
  #grafico{
    position:relative;
    height:350px;
    border-left:2px solid #000000;
    border-bottom: 2px solid #000000;
    width:100%;
    margin-top:5px;
    }
    .riga{
    position:absolute;
    left:0;
    height: 1px;
    background-color:gray;
    width: 100%;
    }
    .riga div{
    float:left;
    margin: -8px 0 0 -40px;
    }
    .canc{
    clear:both;
    }
    
    .column{
    position:absolute;
    width: 16%;
    bottom: 0;
    background-color: #003366;
    margin-left:5%;
    }
    div.button {
        margin: 0 auto;
        text-align: center;
        width: 100px;
        background-color:#003366;
        border: 1px solid #003366;
        border-radius: 5px;
        padding: 8px;
        color: #E1E2CF;
        cursor: pointer;
    }
    .column div{
    margin-top:-20px;
    height:20px;
    }
    
    .badge-can{
        background-color: #475565 !important;
        color:white;
    }

    /*table tr th{
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    } */

    #dayswithdates{
        width:100%;
        height:100px;
        overflow:scroll;
        white-space: nowrap;
    }

    .calday{
        display: inline-block;
        width: 100px;
        border-top: 1px solid;
        border-bottom: 1px solid;
        line-height: 40px;
        margin-bottom: 4px;
        background-color: silver;
        text-indent: 0.3em;
    }

    .exists{
        font-family: cursive;
        color: indianred;
    }


    /* datatables */
    .dataTables_length, .dataTables_info, .dataTables_paginate, #example-table_filter{
        margin: 20px 10px 10px 10px;
    }

    #example-table_wrapper{
        background-color: beige;
    }

    body
    {
        counter-reset: Serial;           /* Set the Serial counter to 0 */
    }

    table
    {
        border-collapse: separate;
    }

    .auto-index tr td:first-child:before
    {
        counter-increment: Serial;      /* Increment the Serial counter */
        content: counter(Serial); /* Display the counter */
    }
    

    /* Pagination */
    .pager-nav {
        margin: 16px 0;
    }
    .pager-nav span {
        display: inline-block;
        padding: 7px 15px;
        /* margin: 1px; */
        cursor: pointer;
        font-size: 14px;
        background-color: #FFFFFF;
        border: 1px solid #e1e1e1;
        /* border-radius: 3px; */
        box-shadow: 0 1px 1px rgba(0,0,0,.04);
    }
    .pager-nav span:hover,
    .pager-nav .pg-selected {
        background-color: #f9f9f9;
        border: 1px solid #CCCCCC;
    }

    .pg-selected{
        background-color: black !important;
        color: white !important;
    }

    .updateattn{
        font-weight: 500;
        line-height: 0.2;
        color: inherit;
        font-size: 2rem;
        vertical-align: sub;
        margin-left: 10px;
    }

    
    /* DayTime design */
    .watchblock{
        background: linear-gradient(to bottom, #458695 45%,#ffffff 45%,#ffffff 50%,#ffffff 100%);
        height: 100%; 
        padding:20px;
    }

    .dayblock{
        color:white; font-size:30px;font-family: cursive;
    }
    .timeblock{
        color:white; font-size:16px;font-family: cursive;
    }
    .imgblock{
        position: absolute;top:26%;left:38%;
    }

    .imgblockem{
        position: absolute;top:30%;left:31%;
    }

    .event-light1
    {
        background: rgb(222 227 236) !important;
        padding: 6px 33px !important;
        border-radius: 10px 50px 10px 50px;
        position: absolute !important;
        top: 61%;
        left: 3%;
    }
    .event-light1-btn{
        position: absolute !important;
        top: 90%;
        left: 75%;
    }

    .badge-light:hover{
        width: 112px !important;
    }

    .greeting{
        position: absolute;
        top: 70%;
        font-size: 25px; 
        left: 22%; 
        font-family: cursive; 
        color: #347483;
    }